@model IEnumerable<TransportManagementSystem.Models.Employee>


<link rel="stylesheet" href="~/css/" />


<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-action="Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Vehicles">Vehicles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Employees">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Routes">Routes</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-action="AddVehicle">Add Vehicle</a>
                    <a class="dropdown-item" asp-action="AddEmployee">Add Employee</a>
                    <a class="dropdown-item" asp-action="AddRoute">Add Route</a>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Allocate">Allocate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="AllocationList">Allocation List</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-link" asp-action="Index">Log Out</a>
        </form>
    </div>
</nav>
<h1>List of Employees</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditEmployee", new { id = item.EmployeeId }) |
                @Html.ActionLink("Delete", "DeleteEmployee", new { id = item.EmployeeId })
            </td>
        </tr>
}
    </tbody>
</table>
